<h1>关于</h1>
<h2>项目简介</h2>
<p>谁去当班是上海交通大学电子信息与电气工程学院计算机科学与技术系
清水组的软工课设项目。其主要功能是实现原先健身房人工排班的自动化，
由各位用户在网上提交排班申请然后由计算机自动生成排班结果。</p>
<h2>小组成员</h2>
<p>组长</p>
<ul>
<li>李畅</li>
</ul>
<p>组员</p>
<ul>
<li>刘岩</li>
<li>王东</li>
<li>王毅</li>
<li>王兴华</li>
</ul>
